
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');




@media only screen and (max-width: 600px) {
	#landing p{
		margin-left:10%;
	}
	#landing .btn{
		margin-left:10%;
	}
	#social-media{
		display: none;
	}

	#nav .logo{
		font-size: 0.7rem !important;
	}
	#nav .ul .li a{
		font-size:0.7rem !important;
		padding:0 0  !important;
		align-items: end !important;

	}

	#about{
		height:150vh !important;
		flex-direction: column !important;

	}
	#about h1{
		margin-right:1em !important;
		font-size: 4em !important;
	}
	#about p{
		width: 80vw !important;
	
		height:300px !important;
	
		margin-right: 5em !important;
	
		font-size: 1.2em !important;
	}

	.tagcloud{
		font-size: 15px !important;
		letter-spacing: 0.5px !important;
	}


	#projects{
		height:auto !important;

	}
	#middleSection{
		display: none !important;
	
	}
	#ending{
		height:auto !important;
	}


	.showcase {

		position: relative;
		width: 95% !important;
		height: 18em !important;
		
		overflow: hidden;
	
	  }
	  .showcase h2{
		color:white;
	  }
	  
	  .thumbnail {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 100px !important;
		z-index: 1;
		background: #293853;
		background-position: 50% 50% !important;
		background-size: cover;
		transition: right 250ms ease, left 250ms ease;
	  }
 .showcase--inverted 	  .thumbnail{
		left:6em !important;
		width:100% !important;
		
	  }

	  .desc {
		position: absolute;
		width: 100px !important;
		height: 100%;
		top: 0;
		right: 0;
		padding: 20px;
		z-index: 2;
		background: #2e2d33;
		text-align: center;
		transition: background 500ms ease, color 500ms, width 500ms ease, padding 500ms ease;
	  }
	  .desc:after {
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: 50%;
		left: -20px;
		margin-top: -10px;
		border-style: solid;
		border-width: 10px;
		border-color: transparent #fff transparent transparent;
		content: "";
		transition: border-color 250ms;
	  }
	  
	  .showcase:hover .thumbnail {
		right: 325px;
		left: -25px;
	  }
	  .showcase:hover .thumbnail__overlay {
		opacity: 1;
	  }
	  .showcase:hover .desc {
		width: 350px;
		padding-left: 45px;
		padding-right: 45px;
		background: #202426;
		color: #fff;
	  }
	  .showcase:hover .desc:after {
		border-color: transparent #202426 transparent transparent;
	  }
	  
	  .showcase--inverted .thumbnail {
		right: 0;
		left: 300px;
	  }
	  
	  .showcase--inverted .desc {
		left: 0;
		right: auto;
	  }
	  .showcase--inverted .desc:after {
		left: auto;
		right: -20px;
		border-color: transparent transparent transparent #fff;
	  }
	  
	  .showcase--inverted:hover .thumbnail {
		left: 325px;
		right: -25px;
	  }
	  .showcase--inverted:hover .desc:after {
		border-color: transparent transparent transparent #202426;
	  }
	  
	  #projects .btn {
		padding: 0em 2em;
		border: 0.15em solid #fff;
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		transition: background 250ms;
	  }
	  #projects  .btn:hover {
		background: rgba(0, 0, 0, 0.6);
	  }
	
	}
  


	.glitch {
		color: white;
		font-size: 100px;
		position: relative;
		

	  }
	  
	  @keyframes noise-anim {
		0% {
		  clip: rect(6px, 9999px, 10px, 0);
		}
		5% {
		  clip: rect(43px, 9999px, 10px, 0);
		}
		10% {
		  clip: rect(45px, 9999px, 75px, 0);
		}
		15% {
		  clip: rect(71px, 9999px, 57px, 0);
		}
		20% {
		  clip: rect(82px, 9999px, 25px, 0);
		}
		25% {
		  clip: rect(31px, 9999px, 74px, 0);
		}
		30% {
		  clip: rect(71px, 9999px, 91px, 0);
		}
		35% {
		  clip: rect(60px, 9999px, 99px, 0);
		}
		40% {
		  clip: rect(44px, 9999px, 99px, 0);
		}
		45% {
		  clip: rect(48px, 9999px, 46px, 0);
		}
		50% {
		  clip: rect(71px, 9999px, 6px, 0);
		}
		55% {
		  clip: rect(68px, 9999px, 100px, 0);
		}
		60% {
		  clip: rect(14px, 9999px, 7px, 0);
		}
		65% {
		  clip: rect(89px, 9999px, 93px, 0);
		}
		70% {
		  clip: rect(95px, 9999px, 79px, 0);
		}
		75% {
		  clip: rect(50px, 9999px, 29px, 0);
		}
		80% {
		  clip: rect(10px, 9999px, 15px, 0);
		}
		85% {
		  clip: rect(94px, 9999px, 5px, 0);
		}
		90% {
		  clip: rect(54px, 9999px, 52px, 0);
		}
		95% {
		  clip: rect(90px, 9999px, 29px, 0);
		}
		100% {
		  clip: rect(79px, 9999px, 38px, 0);
		}
	  }
	  .glitch:after {
		content: attr(data-text);
		position: absolute;
		
		left: 2px;
		text-shadow: -1px 0 red;
		top: 0;
		color: white;
		background: #1a191d;
		overflow: hidden;
		clip: rect(0, 900px, 0, 0);
		animation: noise-anim 2s infinite linear alternate-reverse;
	  }
	  
	  @keyframes noise-anim-2 {
		0% {
		  clip: rect(76px, 9999px, 86px, 0);
		}
		5% {
		  clip: rect(28px, 9999px, 20px, 0);
		}
		10% {
		  clip: rect(72px, 9999px, 15px, 0);
		}
		15% {
		  clip: rect(27px, 9999px, 30px, 0);
		}
		20% {
		  clip: rect(47px, 9999px, 44px, 0);
		}
		25% {
		  clip: rect(59px, 9999px, 13px, 0);
		}
		30% {
		  clip: rect(90px, 9999px, 46px, 0);
		}
		35% {
		  clip: rect(95px, 9999px, 62px, 0);
		}
		40% {
		  clip: rect(56px, 9999px, 84px, 0);
		}
		45% {
		  clip: rect(64px, 9999px, 31px, 0);
		}
		50% {
		  clip: rect(10px, 9999px, 100px, 0);
		}
		55% {
		  clip: rect(53px, 9999px, 93px, 0);
		}
		60% {
		  clip: rect(64px, 9999px, 28px, 0);
		}
		65% {
		  clip: rect(39px, 9999px, 5px, 0);
		}
		70% {
		  clip: rect(21px, 9999px, 37px, 0);
		}
		75% {
		  clip: rect(39px, 9999px, 18px, 0);
		}
		80% {
		  clip: rect(15px, 9999px, 1px, 0);
		}
		85% {
		  clip: rect(68px, 9999px, 6px, 0);
		}
		90% {
		  clip: rect(41px, 9999px, 5px, 0);
		}
		95% {
		  clip: rect(36px, 9999px, 59px, 0);
		}
		100% {
		  clip: rect(9px, 9999px, 47px, 0);
		}
	  }
	  .glitch:before {
		content: attr(data-text);
		position: absolute;
		left: -2px;
		text-shadow: 1px 0 blue;
		top: 0;
		color: white;
		background: #1a191d;
		overflow: hidden;
		clip: rect(0, 900px, 0, 0);
		animation: noise-anim-2 3s infinite linear alternate-reverse;
	  }

*{
        margin:0 auto;
        padding:0;
        border:0;
        list-style: none;
        font-size: 100%;
        max-width: 100%;
        font-family: 'Roboto', sans-serif;


}

#container {
    display:flex;
	

}


p {
    color:white;
}

button{
    border: 2px solid white;
    background-color: #1a191d;
    color:white;
    font-size: 2.5em;
}



  
/**

NAVBAR CODE

*/

#nav {
    
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

    
	padding: 10px 0px;
	transition: 0.3s;
	z-index: 100;
}

#nav::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1px;
	background-color: white;
	transition: 0.5s;
	transition-delay: 0.3s;
	z-index: -1;
}

#nav.sticky {
	padding: 5px 0px;
}

#nav.sticky::after {
	height: 100%;
}

#nav .logo {
    
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
    position: absolute; 
    left:15px;
	color: white;
	font-size: 1.8rem;
	transition: 0.5s;
	transition-delay: 0.3s;
}

#nav .ul {
    
	position: relative;
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#nav .ul .li {

	list-style:none;
	margin: 5px 10px;
}

#nav .ul .li a {
	padding: 5px 10px;
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
	transition: 0.5s;
	transition-delay: 0.3s;
}

#nav.sticky .logo,
#nav.sticky .ul .li a {
	color: black;
}

/**

LANDING CODE

*/

#landing {


    display:flex;
     background-color: #1a191d;
        height:100vh;   


        flex-direction: column;
    


        justify-content: center;
        align-items: center;
      
  
    
     
       


}

#landing p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5em;
}
#opaque{
	opacity: 0.7;
}

#small{
	font-family: 'Roboto', sans-serif !important;
	font-size: 2em !important;
}






/**

ABOUT CODE

*/
#about{

display:flex;
align-items: top;
justify-content: top;
	

	
    height:80vh;
    background-color:#1a191d;

	
}

#about h1{
	
display: flex;
align-items: top;
justify-content: center;

	font-family: 'Roboto Condensed', sans-serif;
font-size: 5em;
margin-left: 10%;
}
 
#about p{
	display: flex;
	
justify-content: center;
align-items: center;

    width: 600px;
    height:250px;
    border: 0px solid white;
	margin-left: 10%;

	font-size: 1.3em;
    
	
}





/*     Importing Google fonts    */
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


 
  /* Applying CSS to sphere */
 .tagcloud {


display: flex;
flex-direction: column;
overflow:hidden;
	justify-content: center;
	align-items: center;

 
   
   font-weight: bold;
   letter-spacing: 1px;
   font-family: 'Bebas Neue', cursive;
   font-size: 20px;

 }
 


/**

 PROJECTS CODE

*/
#projects{
    height:80vw;
    background-color:#1a191d;
}
#projects h1{
	
	display: flex;
align-items: top;
justify-content: center;
color:white;
	font-family: 'Roboto Condensed', sans-serif;
font-size: 5em;
padding-bottom: 0.5em;

}



/**

CODE PEN COPY PASTED CODE

*/


  .btn {
	position: relative;
	display: inline-block;
	width: 210px;
	height: 60px;
	font-size: 23px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	overflow: hidden;
  }
  
  .btn svg {
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .btn svg rect {
	stroke: #ffffff;
	stroke-width: 6;
	stroke-dasharray: 422, 0;
	stroke-dashoffset: 0;
	-webkit-transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn:hover svg rect {
	stroke-width: 10;
	stroke-dasharray: 110, 312;
	stroke-dashoffset: 183;
  }

  
  
/** NAV BAR CODE
*/


.wrapper {
    display: inline-flex;
    list-style: none;
   
    position: fixed;
    bottom:0;
    flex-direction: column;
    margin-left:2em;
    margin-bottom:2em;
  }
 
  .wrapper .icon {
    position: relative;
    background: #4e4c4c;
    color:white;
    border-radius: 50%;
    padding: 5px;
    margin: 7px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
 
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 7px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
   .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;


    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
 
  .wrapper .icon:hover .tooltip {
    top: -45px;


    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
 
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1);
  }
 
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #0e3b75;
    color: #ffffff;
  }
 
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1b2325;
    color: #ffffff;
  }
 
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #4056d6;
    color: #ffffff;
  }
 
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }


  




  

  






  /**------------------------
  */
  .showcase {

	position: relative;
	width: 80%;
	height: 17em;
	
	overflow: hidden;

  }
  .showcase h2{
	color:white;
  }
  
  .thumbnail {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 300px;
	z-index: 1;
	background: #293853;
	background-position: 50% 50%;
	background-size: cover;
	transition: right 250ms ease, left 250ms ease;
  }
  
  .thumbnail--awesome {
	background-image: url("https://news.artnet.com/app/news-upload/2016/03/google-dream-starry-night-1024x811.jpg");
  }
  .thumbnail--awesome2{
	background-image:url("https://camo.githubusercontent.com/8f8230d25dcf3934124d3600e6a603f97c917a3c8df30733e97411842e4cec17/68747470733a2f2f797564616b616e2e636f6d2f696d67732f6769746875622f707572656d617a652e706e67");
  }

  .thumbnail--awesome3{
	background-image:url("  https://i.pinimg.com/originals/78/99/86/7899868e862cdfced007e7669518b11d.jpg");
  }
  .thumbnail__overlay {
	position: relative;
	padding-top: 8em;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	opacity: 0;
	transition: opacity 500ms ease;
	
  }
  
  .desc {
	position: absolute;
	width: 300px;
	height: 100%;
	top: 0;
	right: 0;
	padding: 20px;
	z-index: 2;
	background: #2e2d33;
	text-align: center;
	transition: background 500ms ease, color 500ms, width 500ms ease, padding 500ms ease;
  }
  .desc:after {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: -20px;
	margin-top: -10px;
	border-style: solid;
	border-width: 10px;
	border-color: transparent #fff transparent transparent;
	content: "";
	transition: border-color 250ms;
  }
  
  .showcase:hover .thumbnail {
	right: 325px;
	left: -25px;
  }
  .showcase:hover .thumbnail__overlay {
	opacity: 1;
  }
  .showcase:hover .desc {
	width: 350px;
	padding-left: 45px;
	padding-right: 45px;
	background: #202426;
	color: #fff;
  }
  .showcase:hover .desc:after {
	border-color: transparent #202426 transparent transparent;
  }
  
  .showcase--inverted .thumbnail {
	right: 0;
	left: 300px;
  }
  
  .showcase--inverted .desc {
	left: 0;
	right: auto;
  }
  .showcase--inverted .desc:after {
	left: auto;
	right: -20px;
	border-color: transparent transparent transparent #fff;
  }
  
  .showcase--inverted:hover .thumbnail {
	left: 325px;
	right: -25px;
  }
  .showcase--inverted:hover .desc:after {
	border-color: transparent transparent transparent #202426;
  }
  
  #projects .btn {
	padding: 0em 2em;
	border: 0.15em solid #fff;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	transition: background 250ms;
  }
  #projects  .btn:hover {
	background: rgba(0, 0, 0, 0.6);
  }











  /**

CONTACT CODE`

*/

#ending{
	width:auto;
	background-color: #1a191d;

	color:white;
}





.sparkle use {
	animation: sparkle 5s linear infinite;
  }
  
  .sparkle use:nth-child(1n) {
	animation-delay: -0.5s;
  }
  
  .sparkle use:nth-child(2n) {
	animation-delay: -1s;
  }
  
  .sparkle use:nth-child(3n) {
	animation-delay: -1.5s;
  }
  
  .sparkle use:nth-child(4n) {
	animation-delay: -2s;
  }
  
  .sparkle use:nth-child(5n) {
	animation-delay: -2.5s;
  }
  
  .sparkle use:nth-child(6n) {
	animation-delay: -3s;
  }
  
  .sparkle use:nth-child(7n) {
	animation-delay: -3.5s;
  }
  
  .sparkle use:nth-child(8n) {
	animation-delay: -4s;
  }
  
  .sparkle use:nth-child(9n) {
	animation-delay: -4.5s;
  }
  
  .sparkle use:nth-child(10n) {
	animation-delay: -5s;
  }
  svg {
	width: 100vw;
	height: 100vh;
  }
  
  @keyframes sparkle {
	0%, 80%, 100% {
	  color: currentcolor;
	}
	90% {
	  color: transparent;
	}
  }

  #middleSection{
	font-size:5em;
	

display:flex;
justify-content: center;
align-items: end;




	


	
  }
  